# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
.Python
.env

# Environment
venv/
ENV/
env/
.venv/
.venv.bak/

# VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Logs
*.log

# Coverage and Testing
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml

# IDE files
.idea/

# SQL dumps
*.sql
*.sqlite3

# Pip
pip-log.txt

# mypy
.mypy_cache/

# FastAPI + Uvicorn
*.pid

# Misc
*.bak
*.swp
